@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.appContainer {
  background-color: #fff;
  margin-bottom: 15rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(223, 200, 0);
  box-shadow: 0px 2px 20px 0px rgba(197, 177, 0, 0.5);
}

.navbar h1 {
  font-size: 2rem;
  color: rgb(15, 14, 0);
  font-family: 'Righteous';
  letter-spacing: 0.2em;
}

.navItems {
  display: flex;
}

.navLink {
  align-self: center;
  color: rgb(15, 14, 0);
  text-decoration: none;
  font-size: 1.2rem;
}

.navLink:not(:last-child) {
  margin-right: 1.5rem;
}

.navActive {
  border-bottom: 2px solid #222;
}

.Home {
  background-color: #eee;
  margin: 4rem;
  padding: 2rem 4rem;
}

.Home h1 {
  margin-bottom: 1rem;
}
.images {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.Home img {
  max-width: 100%;
  max-height: 20rem;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.modalShow {
  display: block;
}

.modalHide {
  display: none;
}

.modalContent {
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #222;
  padding: 2rem;
  width: max-content;
  box-shadow: 0px 0px 15px 0px #ccc;
}

.modalClose {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  height: 3rem;
  width: 3rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #555;
  color: #fff;
  backdrop-filter: blur(5px);
  border: none;
  float: right;
  font-weight: light;
  cursor: pointer;
}

.modalClose:focus,
.modalClose:hover {
  outline: none;
  background-color: #222;
}

.modalContent h2 {
  margin-top: 2rem;
}

.modalContent h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgb(223, 200, 0);
}

.modalBalance {
  background-color: rgb(223, 200, 0);
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.modalBalance h3 {
  font-weight: 700;
  font-size: 2rem;
}

.transactionFrom {
  border: 1px solid black;
  padding: 1rem;
  font-weight: 600;
}

.transactionFrom label {
  padding-right: 0.5rem;
}

.transactionFrom input,
.transactionFrom select {
  background-color: #ddd;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: none;
}

.transactionFrom button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.transactionContainer,
.customers {
  margin: auto;
  margin-top: 4rem;
  background-color: #eee;
  width: 70%;
}

table {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #eee;
}

th,
td {
  padding: 1rem 2rem;
}

th {
  background-color: #222;
  color: white;
}

.transaction:nth-child(odd),
.customer:nth-child(odd) {
  background-color: #ddd;
}

.customer:hover {
  outline: 3px solid rgb(223, 200, 0);
  outline-offset: -3px;
  cursor: pointer;
}

.loading {
  text-align: center;
  background-color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: #222;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  .transactionContainer,
  .customers {
    width: 100%;
  }

  .customer {
    text-decoration: underline;
  }
}
@media (max-width: 500px) {
  .images {
    display: block;
  }
  .Home img {
    width: 100%;
    height: auto;
  }
}
